{% extends "layouts/base.html" %}

{% block title %}Menu List{% endblock %}

{% block content %}

<h1>Our Menu</h1>

<a href="{% url 'add_menu_item' %}" class="btn btn-primary">Add New Item</a>

<form method="get" class="order-form" action="{% url 'menu_list' %}">
    <label for="search_name">Search by Name:</label>
    <input type="text" id="search_name" name="search_name" value="{{ request.GET.search_name }}">

    <label for="meal_type">Meal Type:</label>
    <select id="meal_type" name="meal_type">
        <option value="">All Types</option>
        <option value="Appetizer" {% if request.GET.meal_type == "Appetizer" %}selected{% endif %}>Appetizer</option>
        <option value="Main Course" {% if request.GET.meal_type == "Main Course" %}selected{% endif %}>Main Course</option>
        <option value="Dessert" {% if request.GET.meal_type == "Dessert" %}selected{% endif %}>Dessert</option>
    </select>

    <input type="submit" value="Search">
</form>


<table >
<thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
</thead>
<tbody>
    {% for item in menu_items %}
    <tr>
        <td><img src="{{ item.image_url }}" alt="{{ item.name }}" class="menu-image"></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>${{ item.price }}</td>
        <td>
            <a href="{% url 'menu_item' item.id %}">View Details</a>
            | <a href="{% url 'edit_menu_item' item.id %}" class="btn btn-secondary">Edit</a>
        </td>
        </tr>
    {% empty %}
    <tr>
        <td colspan="5">No menu items available.</td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock content %}
