body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-item {
    padding: 10px 20px;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-link:hover {
    color: #ff6347;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-content li {
    display: inline;
    padding: 0 10px;
}
.footer-content a {
    color: white;
    text-decoration: none;
}
.footer-content a:hover {
    color: #ff6347;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even){background-color: #f9f9f9;}
tr:hover {background-color: #ddd;}
a {
    text-decoration: none;
    color: blue;
}

.menu-image {
    width: 100px; 
    height: 100px;
}