body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-item {
    padding: 10px 20px;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-link:hover {
    color: #ff6347;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-content li {
    display: inline;
    padding: 0 10px;
}
.footer-content a {
    color: white;
    text-decoration: none;
}
.footer-content a:hover {
    color: #ff6347;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even){background-color: #f9f9f9;}
tr:hover {background-color: #ddd;}
a {
    text-decoration: none;
    color: blue;
}

.menu-image {
    width: 100px; 
    height: 100px;
}
.item-details {
    color: #336699;
    font-family: Arial, sans-serif;
}
.item-details {
    max-width: 600px;
    margin: auto;
    font-family: 'Arial', sans-serif;
}
.item-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
.description {
    color: #555;
    margin: 10px 0;
}
.price {
    font-weight: bold;
    color: #28a745;
}
.order-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.order-form h2 {
    color: #333;
}
.order-form label {
    display: block;
    margin-top: 10px;
    color: #333;
}
.order-form input,
.order-form textarea,
.order-form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.order-form button {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
    margin-top: 20px;
    cursor: pointer;
}
.order-form button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}